body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg); /* creates background coffee image */
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

.established {
    font-style: italic;
}

h1, h2, p {
    text-align: center;
  }

.menu { /* formatted the whole Menu */
    width: 80%;
    max-width: 500px;
    background-color: burlywood;
    margin-left: auto; /* centered the Menu */
    margin-right: auto; /* centered the Menu */
    padding: 20px;
}

img {
    display: block;
    margin-left: auto; /* centered the coffee icon */
    margin-right: auto; /* centered the coffee icon */
    margin-top: -25px; /* cuts the space between the icons and the Coffe and Dessert headings */
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 25px;
}

.item p { 
    display: inline-block; /* sends items to the next line */
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.flavor, .dessert {
    width: 75%;
    text-align: left;
}

.price {
    width: 25%;    
    text-align: right;
}

h1, h2 {
    font-family: Impact, serif;
}


/* FOOTER */
footer {
    font-size: 14px;
}

.address {
    margin-bottom: 5px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
} 

a:active {
    color: brown;
}





